.arrow-right-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5vh;
    height: 15vh;


    
    img{
        height: 100%;
        width: auto;

        @media (min-width: 800px) {
            height: unset;
            width: unset;
            }

    }
}