<div class="footer-group">
    <div class="desktop-mode">
    <div>
        <div class="icon-group">
            <a href="https://github.com/0xHaoMoon" target="_blank"><img src="assets/img/Githubbutton.png" alt="" srcset=""></a>
            <a href="http://www.google.de" target="_blank"><img src="assets/img/Linkedinbutton.png" alt="" srcset=""></a>
        </div>
    </div>

    <div class="footer-info">
        <h2>  HT </h2>
        <p>© Hao Truong</p>
    </div>
    </div>

    <a routerLink="/imprint">Imprint</a>

</div>
