<Div class="title">
    <h1>Frontend</h1>
    <h1>Developer</h1>
    <div class="name">
        <img src="../assets/img/Vector11.png" alt="" srcset="">
        <p>Hao Truong</p>
    </div>

    <div class="title2">
        <div class="alink hide-desktop ">
        <a (click)="scrollPoint('contact')">contact me</a>
        </div>

        <div class="alink hide-mobile     ">
            <a (click)="scrollPoint('contact')">contact me</a>
        </div>
    
    
        <div class="scroll-container"> 
        <div class="scroll-arrow-box">
            <img src="../assets/img/arrowDown.png" alt="" srcset="">
        </div>
       <p>Scroll Down</p> 
        </div>
    </div>
</Div>



