
<div class="header-mobile">
    <div class="logo-mobile">
        <img src="./../../../assets/img/cube.png" alt="">
        <h2 (click)="scrollPoint('landing')">  HT </h2>
    </div>

    <div class="burgerMenu" (click)="openBurgerMenu()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
        
    </div>

    <div class="menu-mobile hideHeader">
        <div class="info-mobile">
            <a  (click)="scrollPoint('aboutme')"><p>About me</p></a>
            <a (click)="scrollPoint('skills')"><p>My skills</p></a>
            <a (click)="scrollPoint('portfolio')"><p>Portfolio</p></a>
        </div>
    </div>