<div class="contact-group">
    <app-arrow-right></app-arrow-right>
<div class="contact-container" data-aos="fade-up">

    <h2>Say Hi!</h2>
    <p>Want to discuss a new project?</p>
    <p>Say hello! Let's discuss your ideas and make it happen!</p>

    <form (submit)="sendMail()" ngNativeValidate #myForm>

        <input required type="text" name="name" #nameField placeholder="Name">
        <input required type="email"name="email" #emailField placeholder="E-mail">
        <textarea required name="message" #messageField placeholder="Message"></textarea>
        <button #sendButton>Send Message</button>


    </form>



</div>
</div>
