.contact-group{
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 0;

}


.contact-container{
    background-image: url(../assets/img/Rectangle5.svg);
    background-repeat: no-repeat;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;



    h2{
        color: darkgray;
    font-family: 'syne';
    font-size: 8vw;
    font-weight: 800;
    padding-top: 3vh;
    cursor: context-menu;

    @media (min-width: 800px) {
        font-size: 5vw;
        }
    }

    p{
        color: white;
        font-family: "overpass";
        font-weight: 400;
        font-size: 3vw;
                    cursor: context-menu;
        @media (min-width: 800px) {
            font-size: 2vw;
            }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        font-size: 2vw;

        input{
            appearance: none;
            border: none;
            outline: none;
            border-bottom: .1em solid white;
            background: black;
            border-radius: .2em .2em 0 0;
            padding: .4em;
            color: white;
            width: 50vw;
            font-family: 'overpass';
        }

        textarea{
            appearance: none;
            border: none;
            outline: none;
            border-bottom: .1em solid white;
            background: black;
            border-radius: .2em .2em 0 0;
            padding: .4em;
            color: white;
            width: 50vw;
            font-family: 'overpass';
        }

        button{
            font-size: 4vw;
            border: 4px solid white;
            background: black;
            color: white;
            padding: 10px;
            font-family: 'overpass';
            cursor: pointer;
            z-index: 2;

            :hover{
                color: darkgray;
            }
        

            @media (min-width: 800px) {
                font-size: 2vw;
                }
            
        }
    }
}