<div class="flex" >
<div class="project-container" *ngFor="let project of projects;">

    <div class="img-container" data-aos="fade-right">
        <div class="border-img">
        </div>
        <img src="assets/img/{{project.image}}">
        </div>

    <div class="info-container" data-aos="fade-left">
        <h3>{{project.name}}</h3>
        <h4>{{project.subheadline}}</h4>
        <p>{{project.desc}}</p>

        <div class="links">
            <div class="border" ><a href="{{project.URL}}" target="_blank">Live Test</a></div>
            <div class="border"><a href="{{project.gitHub}}"target="_blank">Github</a></div>
        </div>
    </div>

</div>
</div>
