.content {
    font-family: "syne";

    font-family: "syne";
    height: 50vh;
    padding-top: 13vh;
    margin-left: 10vw;
    margin-right: 10vw;

    a {
        text-decoration: none;
    }

    @media (min-width: 860px) {
        font-family: "syne";
        height: 70vh;
        padding-top: 15vh;
        font-size: xx-large;
    } 
}