.content {
    font-family: "syne";

    font-family: "syne";
    height: 60vh;
    padding-top: 13vh;
    margin-left: 10vw;
    margin-right: 10vw;

    @media (min-width: 360px) {
        height: 53vh;
    } 

    @media (min-width: 375px) {
        height: 60vh;
    } 

    @media (min-width: 414px) {
        height: 62vh;
    } 

    @media (min-width: 592px) {
        height: 64vh;
    } 


}