<div class="desktop-view">
<div class="about-me-container">
    <div data-aos="fade-in">
    <h1>About me</h1>
    <p>
        I am a Front-end developer based in Munich, Germany. 
        I enjoy helping designers and companies bring their ideas into real life. 
        I am looking forward to continuing my developer career with a job in a junior web developer position.
        If you think I’d be a good match for your projects, contact me!
        I am a Front-end developer based in Munich, Germany. 
        I enjoy helping designers and companies bring their ideas into real life. 
    </p>

    <div class="alink hideMobile">
        <a class="lets-talk">Let ` s talk</a> 
    </div>

    </div>

</div>

    <div class="img-container">
    <div class="border-img">
    </div>
    <img src="../../../assets/img/me.png" alt="" srcset="">
    </div>

</div>
