<div class="desktop-view" id="aboutme">
    <app-arrow-left></app-arrow-left>
    <div class="flex">
<div class="about-me-container" >

    <div data-aos="fade-right">
    <h1>About me</h1>
    <p>
        I'm Hao Truong, a passionate Frontend Developer. 
        <br>
        I recently completed a Frontend Bootcamp and am ready to put my newly acquired skills into practice.
        My experience in chemistry has taught me discipline, problem-solving abilities, and effective communication.
        <br>
        If you're in search of a dedicated Frontend Developer ready to take on challenges and provide innovative solutions, I'm the right person.
    </p>

    <div class="alink hideMobile" >
        <a (click)="scrollPoint('contact')" class="lets-talk">Let ` s talk</a> 
    </div>

    </div>

    </div>

    <div class="img-container" data-aos="fade-left">
    <div class="border-img">
    </div>
    <img src="../../../assets/img/me.png" alt="" srcset="">
    </div>

</div>
</div>
