
body{
    background-color: #FFFCF3;
    margin: 0;
}

@font-face {
    font-family: syne;
    src: url(./assets/fonts/Syne/Syne-VariableFont_wght.ttf)
}

@font-face {
    font-family: overpass;
    src: url(./assets/fonts/Overpass/Overpass-VariableFont_wght.ttf)
}


@media (max-width:780px) {
    .hide-mobile{
        display:none;
    }
}

@media (min-width:780px) {
    .hide-desktop{
        display:none;
    }
}


